*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(66, 66, 66);
    
}

main{
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 10px;
}

textarea{
    background-color: rgb(177, 174, 174);
    min-height: 200px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    padding: 8px 8px; 
    resize: none;
}




@keyframes aparecespan {
    0% {
        opacity: 0;
        transform: scale(2) rotate(180deg);
    }
    
    100% {
        opacity: 1;
        transform: scale(1);

    }
}

main div{
    margin: 10px;
}

div.botones{
    display: flex;
    gap: 5px;
    height: 30px;   
}




.botones button  {
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    font-weight:bolder;
    transition: all 0.5s ease;
}
.reset{
    display: flex;
    justify-content: center;
    height: 30px;
    
}

.reset button{
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    font-weight:bolder;
    transition: all 0.5s ease;
}

.reset button:hover{
     background-color: transparent;
     box-shadow: 0 0 20px 10px gold;
     transform: scale(1.1);
}


.botones button:hover{
    background-color: transparent;
    box-shadow: 0 0 20px 10px gold;
    transform: scale(1.1);
}